body{
    display: flex;
    flex-direction: column;
    background-image: url('../imagenes/fondo-blanco-gris-patron-lineas-diagonales_1017-25100.avif'); 
    background-size: cover; 
    
}

#tittle{
    text-align: center;
}

#prueba{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#panelJuego{
    width: 700px;
}
#panelJuego p{
    text-align: center;
}

#articleForm{
    margin-left: 20px;
}

#intentos{
    font-weight: bold;
    text-decoration: underline;
    color: brown;
}

#numRest{
    font-weight: bold;
    text-decoration: underline;
    color: brown;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 10px;
}

input[input="radio"]{
    vertical-align: middle;
}

input[type="text"]{
    width: 50px;
}

input[type="submit"]{
    width: 100%;
}

#error{
    color: red;
}

#dificultad{
    text-decoration: underline;
}

#easy{
    color: rgb(0, 255, 0);
    font-weight: bold;
}
#medium{
    color: blue;
    font-weight: bold;
}
#hard{
    color: red;
    font-weight: bold;
}
#perso{
    color: rgb(132, 0, 255);
    font-weight: bold;
}

#fila{
    font-weight: bold;
}

#columna{
    font-weight: bold;
}

#enviar{
    border-radius: 15px;
}
#enviar:hover{
    background-color: rgb(196, 194, 194);
}

input[name="facil"] {
    accent-color: green; 
  }

  input[name="medio"] {
    accent-color: rgb(3, 3, 206); 
  }

  input[name="dificil"] {
    accent-color: rgb(186, 3, 3); 
  }

  input[name="personalizado"] {
    accent-color: rgb(84, 1, 162) ;
  }